$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background: #c7c7c7;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.langs{
  float: left;
  margin: 2px;
}

/* .listViews {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .education{
    height: 120px;
    .element {
      position: absolute;
    }
    .timeFrame{

    }
    .placeName{
      right: 0px;
    }
    .location{
      right: 0px;
      bottom: 0px;
    }
  }
}
 */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .flags{
    width: 20px;
  }
}
/* Print Mode */
@media print {
  .print-break {page-break-after: always;}
  .print-hide {display: none;}
  .print-show {
    display: block;
  }
  .panel {
    border: none;
    margin-bottom: 0px !important;
  }
  .panel-title{
    font-size: 32px;
  }
  .list-group-item{
    border: none;
  }
  .panel-body p{
    text-align: justify;
  }
  .last-item{
    margin-top: 40px;
  }
  .profile-pic{
    position: absolute;
    left: 60px;
    top: 60px;
    width: 120px;
  }
  h1, .lead, h3, strong {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
  }
}
