<div class="jumbotron">
  <h1>Daniel Mendéz</h1>
  <img src="images/leme.jpg" alt="" class="img-circle profile-pic">
  <p class="lead">
    <br>
    {{myTitle}}
  </p>
  <div class="hidden-print">
    <a href="http://ve.linkedin.com/in/nieldm">
      <img src="images/linkedin.png" alt="View Daniel Mendez's profile on LinkedIn">
    </a>
    <a href="https://twitter.com/nieldm">
      <img src="images/twitter.png" alt="Twitter">
    </a>
    <a href="https://www.youtube.com/user/ni3ldm">
      <img src="images/youtube-variation.png" alt="Youtube">
    </a>
    <a href="https://github.com/nieldm">
      <img src="images/github.png" alt="Github">
    </a>
    <p>
      <br>
      Email: <a href="mailto:nieldm@gmail.com">nieldm@gmail.com</a>
      <br>
      Nacionalidad: Venezolana<img class="flags" src="/images/Venezuela.png" alt="VenezuelaFlagPic"> Española<img class="flags" src="/images/Spain.png" alt="SpainFlagPic">
    </p>
  </div>
</div>


<div class="row marketing">
  <div class="panel panel-default visible-print-block">
    <div class="panel-heading">
      <h3 class="panel-title">Datos Personales</h3>
    </div>
    <div class="panel-body">
       <address>
        <strong>Dirección: </strong><br>
        Municipio Baruta. La Tahona Calle del Parral<br>
        Caracas, Venezuela<br>
        <strong>Nacionalidad: Venezolana y Española<br>
        <abbr title="Phone">Celular:</abbr>+58 (424) 273 29 14<br>
        <strong>Correo Electrónico:</strong> nieldm@gmail.com<br>
        <strong>Edad:</strong> 26 años<br>
        <strong>C.V. Web:</strong> http://nieldm.github.io/
      </address>
    </div>
  </div>
  <!-- <div class="print-break"></div> -->
  <div class="panel panel-default hidden-print">
    <div class="panel-heading">
      <h3 class="panel-title">Bio</h3>
    </div>
    <div class="panel-body">
      <p>
        De padres Ingenieros en Computación, siempre estuve conectado con el mundo de la tecnológia.
        Por lo que una vez terminado el bachillerato, se simplifico la tarea de seleccionar una carrera universitaria
        , debido a que siempre me encontraba detras de un teclado y monitor.
      </p>
      <p>
        Parte vital de mi crecimiento profesional, se dio a mitad de la carrera
        , cuando luego de un proceso de selección, me surgió la oportunidad de trabajar en la misma universidad,
        Bajo el cargo de dos profesionales Lic. Yani Capuzzi y Lic. Nicola Strappazon ocupando los puestos
        de Gerente y Director en el Departamento Desarrollo Tecnológico Institucional (D.D.T.I.) respectivamente.
        Profesionales los cuales me dieron la base del conocimiento tanto en el desarrollo de aplicaciones,
        desarrollo web, administración de sistemas, levantamiento de procesos manuales para su atomatización,
        planificación y construcción bases de datos, entre un gran número de diferentes habilidades.
      </p>
      <p>
        Al día de hoy, estoy constantemente
        consumiendo grandes cantidades de información por medio de blogs, páginas de tutoriales (Laracast, Nettuts, Treehouse, Lynda), rss, aplicación de novedades(Prismatic, Flipboard, Zite) y twitter.
        Por mi necesidad de conocer y experimentar nuevas tecnológias, lenguajes y diferentes tecnícas
        , las cuales siempre las tomo en cuenta a la hora de presentarse una necesidad o un problema
        y así darle la solución más adecuada.
      </p>
    </div>
  </div>
  <!-- <div class="print-break"></div> -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Educación</h3>
    </div>
    <div class="panel-body">
      <p>
      <ul class="listViews list-group">
        <div class="list-group-item inactive-link" ng-repeat="edu in education">
          <h3 class="list-group-item-heading">
            {{edu.title}}
            <span class="badge">{{edu.time}}</span>
          </h3>
          <p class="list-group-item-text">
            <strong>
              {{edu.place}}
            </strong>
              {{edu.description}}
          </p>
          <p class="list-group-item-text">
              <small>{{edu.location}}</small>
          </p>
        </div>
      </ul>
      </p>
    </div>
  </div>
  <div class="print-break"></div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Trabajos</h3>
    </div>
    <div class="panel-body">
      <p>
      <ul class="listViews list-group">
        <div class="list-group-item inactive-link" ng-repeat="edu in jobs | orderBy:'pos'">
          <h3 class="list-group-item-heading">
            {{edu.title}}
            <span class="badge">{{edu.time}}</span>
          </h3>
          <p class="list-group-item-text">
            <strong>
              <a ng-href="{{edu.url}}">{{edu.place}}</a>
            </strong>
              {{edu.description}}
          </p>
          <p class="list-group-item-text">
              <small>{{edu.location}}</small>
          </p>
        </div>
      </ul>
      </p>
    </div>
  </div>
  <div class="print-break"></div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Habilidades</h3>
    </div>
    <div class="panel-body">
      <p>
      <ul class="listViews list-group">
        <div class="list-group-item inactive-link" ng-repeat="edu in skills" ng-class="{'last-item':$last}">
          <h3 class="list-group-item-heading">
            {{edu.title}}
            <span class="badge">{{edu.amount}}/10</span>
          </h3>
          <p class="list-group-item-text">
              {{edu.description}}
          </p>
          <p class="list-group-item-text">
            <span class="langs label label-primary" ng-repeat="lang in edu.langs | orderBy">{{lang}}</span>
          </p>
          <div class="clearfix"></div>
        </div>
      </ul>
      </p>
    </div>
  </div>
</div>
