<div class="jumbotron">
  <h1>Daniel Mendéz</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    {{myTitle}}
  </p>
</div>

<div class="row marketing">
  <h4>Bio</h4>
  <p>
  </p>

  <h4>Educación</h4>
  <p>
  <ul>
    <li ng-repeat="edu in education">
      <div class="timeFrame">{{edu.time}}</div>
      <div class="titleName">{{edu.title}}</div>
      <div class="description">{{edu.description}}</div>
      <div class="placeName">{{edu.place}}</div>
      <div class="location">{{edu.location}}</div>
    </li>
  </ul>
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
